<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
</head>
<body>
    <app-navbar></app-navbar>
<!-- 
    <div>
        <h1></h1>
        <h1></h1>
        <h1>{{Emp.Emp_number}}</h1>
        <h1>{{Emp.Emp_customer}}</h1>
        
    </div>    -->
    <div>
    <table>
        <!-- <td></td> -->
        <tr>
            <th>Employee Name</th>
            <td>:</td>
            <td>{{Emp.Emp_name}}</td>
        </tr>
        <tr>    
            <th>Employee Code</th>
            <td>:</td>
            <td>{{Emp.Emp_code}}</td>
        </tr>
        <tr>
            <th>Employee Number</th>
            <td>:</td>
            <td>{{Emp.Emp_number}}</td>
        </tr>
        <tr>    
            <th>Employee Customer</th>
            <td>:</td>
            <td>{{Emp.Emp_customer}}</td>
        </tr>
        <tr>
            <th>Employee Department</th>
            <td>:</td>
            <td>{{Emp.Emp_department}}</td>
        </tr>
        <tr>    
            <th>Employee Grade</th>
            <td>:</td>
            <td>{{Emp.Emp_grade}}</td>
        </tr>
        
    </table>   
    </div>
    
</body>
</html>
