<nav>
    <div>
        
        <div class="menubar">
           <button (click)="menu()"><i class="fa-solid fa-bars"></i></button> 
            <img src="../../assets/logo/jsw-logo.png" alt="">
        </div>
        <div id="dropdown">

            <div class="Dropdown" >
                <a routerLink="">Home</a>
                <a href="">Contact Us</a>
                <a href="">About Us</a>
                <a href="">Help</a>
            </div>
        </div>

    </div>

    <div class="title">
        <h1>Internal Customer Survey Portal</h1>
    </div>

    <div>
        <button routerLink="/login">Login</button>
    </div>
</nav>