<app-navbar></app-navbar>
<div class="filter-response">
    <div class="year-select">
        <h4>Select Year</h4>
        <select name="" id="">
            <option value="">2023-2024</option>
            <option value="">2024-2025</option>
        </select>
    </div>
    <div class="month">   
        <div>
            <button>Q1 (Apr - Jun)</button>
            <button>Q2 (Jul - Sep)</button>
        </div>
        <div>
            <button>Q3 (Oct - Dec)</button>
            <button>Q4 (Jan - Mar)</button>
        </div>
    </div>
</div>


<div class="response">
    <table>
        <thead>
            <tr>
                <th>Customer</th>
                <th>Submitted date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Customer 1</td>
                <td>2023-07-23</td>
                <td><button class="btn-view">View</button></td>
            </tr>
            <tr>
                <td>Customer 2</td>
                <td>2023-07-22</td>
                <td><button class="btn-view">View</button></td>
            </tr>
            <tr>
                <td>Customer 3</td>
                <td>2023-07-21</td>
                <td><button class="btn-view">View</button></td>
            </tr>
        </tbody>
    </table>
</div>