.allDepartment {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 2rem;
    padding: 2rem;
}

.info-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    
    
}

.info-box h2 {
    margin-top: 0;
    text-align: center;
}

.info-item {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.info-item h4 {
    margin: 0;
    font-weight: normal;
    color: #333;
}

.info-label {
    font-weight: bold;
    color: #555;
}

.info-value {
    color: #333;
}

.view-btn {
    width: 10rem;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.view-btn:hover {
    background-color: #45a049;
}